body {
    background-color: #b3e0ff;
}
/* btn at top of page to redirect to search form */
.back-btn {
    background: black;
    color: white;
}

.back-btn:hover {
    background: grey;
    color: white;
}

/* cards with forecast data */
.card {
    border: 2px solid black;
}

/* card for current forecast */
.custom-result-card {
    border: 5px solid black;
}

.card:hover {
    background-color: #ffdab3;
}