body {
    background-color: #b3e0ff;
}

.back-btn {
    background: black;
    color: white;
}

.back-btn:hover {
    background: grey;
    color: white;
}

.card {
    border: 2px solid black;
}

.custom-result-card {
    border: 5px solid black;
}

.card:hover {
    background-color: #ffdab3;
}